/* css */
        body
		{
			background-color:#f4f4f4;
        }
        h1{
            text-align: center;
            font-family: 'Cookie', cursive;
            color: #6B8E23;
        }
		.card
		{
            margin: 0px auto;
            width: 60%;
		}
		.card-body{
            background-color:#f4f4f4;
        }
        section{
            margin-top: 50px;
        }